<!DOCTYPE html>
<html ng-app='twitch-up'>
  <head>
    <meta charset="utf-8">
    <title>Twitch Up!</title>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/services/eventsService.js"></script>
   <script type="text/javascript" src="/scripts/directives/navDirective.js"></script>
    <script type="text/javascript" src="/scripts/controllers/DateTimeController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/FormController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/RootController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/EventController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/NavbarController.js"></script>


  </head>
<body>
  <navbar></navbar>
  <h1><a>Hello World!</a></h1>
  {{2+2}}
  <div ng-controller="FormController as formCtrl">
      <pre>Selected date is: <em>{{  dt | date:'fullDate'  }}  {{dt | date:'shortTime' }} {{dt}}</em></pre>

      <div class="row">
        <div class="col-xs-6 inline">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>

        <div class="col-xs-6 inline">
          <div uib-timepicker ng-model="dt"  hour-step="1" minute-step="1" show-meridian="true"></div>
        </div>

        </div>
      <p class="input-group">
        <input type="text" ng-model="name" ng-required>
        <input type="text" ng-model="game" ng-required>
      </p>
      <p>
        description:
      </p>
      <textarea rows="4" cols="50" ng-model="description"></textarea>

      <button class="btn btn-standard" ng-click=formCtrl.submit()>Submit</button>

  </div>



<div class="container" ng-view>

</div>
</body>
