html{
  background-color: black;
}

body{
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #433f4a;
}

.add-margin{
  margin-top: 20px;
}

.inline{
  display: inline-block;
  box-sizing: border-box;
  margin-right: 10px;
}

.front-list{
  margin-bottom: 5px;
}

h5.inline{
  margin: 0 auto;
  margin-bottom: 0;
}

.dt{
  height: 100%;
}

.description{
  margin-left: 20px;
}

.splash-list-group{
  padding-top: 2px;
  padding-bottom: 2px;
}

label.inline{
  margin-left: 20px;
  margin-right: 5px;
}

.header a{
  color: #7d5bbe;
}

.header{
  margin: 2px;
}

.right{
  display: flex;
  display: -ms-flexbox;
  flex-direction: row-reverse;
  ms-flex-direction: row-reverse;
  box-sizing: border-box;
  margin-top: 10px;
}

nav{
  margin:0;
  height: 50px;
  position: relative;
  padding: 5px 0;
  background: white;
  box-shadow: 0 0 0 2px rgba(0,0,0,.07),0 0 0 1px rgba(0,0,0,.2);
  z-index: 1000;
  box-sizing: border-box;
}

.thumbnail-large{
  height:800px;
  width: 640px;
}

.thumbnail-small{
  margin-top: 15px;
  margin-bottom: 15px;
  height:120px;
  width: 96px;
}

a:hover{
  text-decoration: none;
}

.form-button{
  float:right;
}

.form-desc{
  display: block;
  width: 90%;
}
/*#7d5bbe*/
